Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test

Path conditions:
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-groups-test: any of: ^groups/

Update DNS admins
  dns/OWNERS
  groups/groups.yaml
Due: pull-k8sio-groups-test

Promote Cluster API v0.3.3
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

backfill from google-containers (again)
  k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Promote Cluster Autoscaler 1.14.8, 1.15.6, 1.16.5, 1.17.2, 1.18.1
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

bump promoter
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add DigitalOcean to distributors-announce
  groups/groups.yaml
Due: pull-k8sio-groups-test

Promote cluster-api-provider-aws v0.5.2 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

allow artifact admins to resolve Stackdriver Error Reporting events
  infra/gcp/lib.sh
Due: none

Empower the backup-test SA to write to backup-prod
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib_gcs.sh
Due: none

GCR backups are regional
  infra/gcp/ensure-prod-storage.sh
Due: none

Promote external-dns v0.7.1
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Adding bartsmykla to k8s-ingra-gcp-accounting
  groups/groups.yaml
Due: pull-k8sio-groups-test

add KSA binding for workload identity for backup test job (pull-k8sio-backup)
  infra/gcp/ensure-prod-storage.sh
Due: none

backup_tools: remove timestamp prefix
  infra/gcp/backup_tools/backup_lib.sh
  infra/gcp/backup_tools/backup_prod.sh
  infra/gcp/backup_tools/backup_test.sh
Due: pull-k8sio-backup

gcr backup: remove JSON creds dependency
  infra/gcp/backup_tools/backup_lib.sh
  infra/gcp/backup_tools/backup_prod.sh
  infra/gcp/backup_tools/backup_test.sh
Due: pull-k8sio-backup

update gcrane version
  infra/gcp/backup_tools/backup_lib.sh
Due: pull-k8sio-backup

sanity check gcloud auth
  infra/gcp/backup_tools/backup_lib.sh
  infra/gcp/backup_tools/backup_prod.sh
  infra/gcp/backup_tools/backup_test.sh
Due: pull-k8sio-backup

fix comments
  infra/gcp/backup_tools/backup_test.sh
Due: pull-k8sio-backup

bump cip version
  infra/gcp/backup_tools/backup_test.sh
Due: pull-k8sio-backup

clear_test_backup_repo: avoid infinite loop
  infra/gcp/backup_tools/backup_test.sh
Due: pull-k8sio-backup

Add staging repo for etcd images
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-etcd/OWNERS
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
  k8s.gcr.io/manifests/k8s-staging-etcd/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip, pull-k8sio-groups-test

Add k8s-infra-artifact-admins group
  groups/groups.yaml
Due: pull-k8sio-groups-test

Alphabetize groups
  groups/groups.yaml
Due: pull-k8sio-groups-test

Remove vestigial group
  groups/groups.yaml
Due: pull-k8sio-groups-test

Enable vulnerability scanning
  infra/gcp/ensure-prod-storage.sh
Due: none

allow workload identity for prod backups
  infra/gcp/ensure-prod-storage.sh
Due: none

Promote agnhost 2.13
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Added new members to community group
  groups/groups.yaml
Due: pull-k8sio-groups-test

Moved Jonas & Matt from members to managers
  groups/groups.yaml
Due: pull-k8sio-groups-test

Add cloudbuild account to k8s-staging-dns
  groups/groups.yaml
Due: pull-k8sio-groups-test

capz: Promote image for capz release v0.4.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

Add a staging repo for cluster-proportional-vertical-autoscaler
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cpva/OWNERS
  k8s.gcr.io/images/k8s-staging-cpva/images.yaml
  k8s.gcr.io/images/k8s-staging-cpva/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip, pull-k8sio-groups-test
