Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, pull-k8sio-groups-test

Path conditions:
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-groups-test: any of: ^groups/

audit: re-ran on 2020-04-06
  audit/projects/k8s-artifacts-prod-bak/services/compute/project-info.json
  audit/projects/k8s-gcr-backup-test-prod-bak/services/compute/project-info.json
  audit/projects/kubernetes-public/services/compute/project-info.json
Due: none

audit: ran infra/gcp/ensure-prod-storage.sh
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-cni/iam.json
  audit/projects/k8s-artifacts-prod/iam.json
  audit/projects/k8s-cip-test-prod/buckets/asia.artifacts.k8s-cip-test-prod.appspot.com/iam.json
  audit/projects/k8s-cip-test-prod/buckets/eu.artifacts.k8s-cip-test-prod.appspot.com/iam.json
  audit/projects/k8s-cip-test-prod/buckets/us.artifacts.k8s-cip-test-prod.appspot.com/iam.json
  audit/projects/k8s-gcr-audit-test-prod/buckets/asia.artifacts.k8s-gcr-audit-test-prod.appspot.com/iam.json
  audit/projects/k8s-gcr-audit-test-prod/buckets/eu.artifacts.k8s-gcr-audit-test-prod.appspot.com/iam.json
  audit/projects/k8s-gcr-audit-test-prod/buckets/us.artifacts.k8s-gcr-audit-test-prod.appspot.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod-bak/buckets/asia.artifacts.k8s-gcr-backup-test-prod-bak.appspot.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod-bak/buckets/eu.artifacts.k8s-gcr-backup-test-prod-bak.appspot.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod-bak/buckets/us.artifacts.k8s-gcr-backup-test-prod-bak.appspot.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod-bak/iam.json
  audit/projects/k8s-gcr-backup-test-prod/buckets/asia.artifacts.k8s-gcr-backup-test-prod.appspot.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod/buckets/eu.artifacts.k8s-gcr-backup-test-prod.appspot.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod/buckets/us.artifacts.k8s-gcr-backup-test-prod.appspot.com/iam.json
  audit/projects/k8s-release-test-prod/buckets/asia.artifacts.k8s-release-test-prod.appspot.com/iam.json
  audit/projects/k8s-release-test-prod/buckets/eu.artifacts.k8s-release-test-prod.appspot.com/iam.json
  audit/projects/k8s-release-test-prod/buckets/k8s-release-test-prod/iam.json
  audit/projects/k8s-release-test-prod/buckets/us.artifacts.k8s-release-test-prod.appspot.com/iam.json
  audit/projects/k8s-staging-cip-test/buckets/asia.artifacts.k8s-staging-cip-test.appspot.com/iam.json
  audit/projects/k8s-staging-cip-test/buckets/eu.artifacts.k8s-staging-cip-test.appspot.com/iam.json
  audit/projects/k8s-staging-cip-test/buckets/us.artifacts.k8s-staging-cip-test.appspot.com/iam.json
Due: none

audit: remove manual k8s-nodes@kubernetes-public binding
  audit/projects/kubernetes-public/service-accounts/k8s-nodes@kubernetes-public.iam.gserviceaccount.com/iam.json
Due: none

audit: misc project-info updates
  audit/projects/k8s-cip-test-prod/services/compute/project-info.json
  audit/projects/k8s-conform/services/compute/project-info.json
  audit/projects/k8s-release-test-prod/services/compute/project-info.json
  audit/projects/k8s-sig-release-prototype/services/compute/project-info.json
  audit/projects/k8s-staging-cluster-api/services/compute/project-info.json
  audit/projects/k8s-staging-coredns/services/compute/project-info.json
  audit/projects/k8s-staging-csi/services/compute/project-info.json
  audit/projects/k8s-staging-release-test/services/compute/project-info.json
  audit/projects/kubernetes-public/services/compute/project-info.json
Due: none

audit: update k8s-gcr-backup-test-prod{,-bak} projects
  audit/projects/k8s-artifacts-prod/buckets/artifacts.k8s-artifacts-prod.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-artifacts-prod/buckets/artifacts.k8s-artifacts-prod.appspot.com/cors.txt
  audit/projects/k8s-artifacts-prod/buckets/artifacts.k8s-artifacts-prod.appspot.com/iam.json
  audit/projects/k8s-artifacts-prod/buckets/artifacts.k8s-artifacts-prod.appspot.com/logging.txt
  audit/projects/k8s-gcr-backup-test-prod-bak/iam.json
  audit/projects/k8s-gcr-backup-test-prod-bak/service-accounts/521600603265-compute@developer.gserviceaccount.com/description.json
  audit/projects/k8s-gcr-backup-test-prod-bak/service-accounts/521600603265-compute@developer.gserviceaccount.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod-bak/service-accounts/k8s-infra-gcr-promoter@k8s-gcr-backup-test-prod-bak.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod-bak/services/compute/project-info.json
  audit/projects/k8s-gcr-backup-test-prod/buckets/asia.artifacts.k8s-gcr-backup-test-prod.appspot.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod/buckets/eu.artifacts.k8s-gcr-backup-test-prod.appspot.com/iam.json
  audit/projects/k8s-gcr-backup-test-prod/buckets/us.artifacts.k8s-gcr-backup-test-prod.appspot.com/iam.json
Due: none

audit: updates to k8s-artifacts-prod
  audit/projects/k8s-artifacts-prod/buckets/artifacts.k8s-artifacts-prod.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-artifacts-prod/buckets/artifacts.k8s-artifacts-prod.appspot.com/cors.txt
  audit/projects/k8s-artifacts-prod/buckets/artifacts.k8s-artifacts-prod.appspot.com/iam.json
  audit/projects/k8s-artifacts-prod/buckets/artifacts.k8s-artifacts-prod.appspot.com/logging.txt
  audit/projects/k8s-artifacts-prod/iam.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-promoter@k8s-artifacts-prod.iam.gserviceaccount.com/iam.json
Due: none

releng: Remove aleksandra-malinowska from Patch Release Team
  groups/groups.yaml
Due: pull-k8sio-groups-test

releng: Promote hasheddan to Branch Manager
  groups/groups.yaml
Due: pull-k8sio-groups-test

Rename project cpva to cpa and put promoter-manifest.yaml to the correct location
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cpa/OWNERS
  k8s.gcr.io/images/k8s-staging-cpa/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cpa/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip, pull-k8sio-groups-test

audit: ensure-staging-storage cpa
  audit/projects/k8s-staging-cpa/buckets/artifacts.k8s-staging-cpa.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-cpa/buckets/artifacts.k8s-staging-cpa.appspot.com/cors.txt
  audit/projects/k8s-staging-cpa/buckets/artifacts.k8s-staging-cpa.appspot.com/iam.json
  audit/projects/k8s-staging-cpa/buckets/artifacts.k8s-staging-cpa.appspot.com/logging.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa-gcb/cors.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa-gcb/iam.json
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa-gcb/logging.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa/bucketpolicyonly.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa/cors.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa/iam.json
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa/logging.txt
  audit/projects/k8s-staging-cpa/description.json
  audit/projects/k8s-staging-cpa/iam.json
  audit/projects/k8s-staging-cpa/services/enabled.txt
Due: none

audit: experiment: dns-pusher for bartsmykla
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/dns-pusher@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/dns-pusher@kubernetes-public.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters.txt
Due: none

Add area/ labels to OWNERS files
  audit/OWNERS
  cert-manager/OWNERS
  groups/OWNERS
  k8s.gcr.io/OWNERS
Due: pull-k8sio-groups-test

Added DNS entry for perf-dash-canary.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Due: none

Move perfdash to new infrastructure
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
  perf-dash.k8s.io/OWNERS
  perf-dash.k8s.io/README.md
  perf-dash.k8s.io/certificate.yaml
  perf-dash.k8s.io/deployment.yaml
  perf-dash.k8s.io/ingress.yaml
  perf-dash.k8s.io/service.yaml
Due: pull-k8sio-groups-test

Added go.k8s.io/redirects redirection
  k8s.io/README.md
  k8s.io/configmap-nginx.yaml
Due: none

Fixed certificate.yaml manifest for perfdash
  perf-dash.k8s.io/certificate.yaml
Due: none

Added missing annotation to cert manifests
  gcsweb.k8s.io/certificate.yaml
  k8s.io/certificate-canary.yaml
  k8s.io/certificate-prod.yaml
Due: none

Correct k8s.gcr.io post-k8sio-cip Testgrid link
  k8s.gcr.io/README.md
Due: none

Add YoyinZyc to k8s-infra-staging-etcd group
  groups/groups.yaml
Due: pull-k8sio-groups-test

Fresh GCP Audit from 09 April 2020
  audit/projects/k8s-artifacts-prod-bak/service-accounts/k8s-infra-gcr-promoter@k8s-artifacts-prod-bak.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/services/compute/project-info.json
Due: none

Promote cpvpa v0.8.2 staging images
  k8s.gcr.io/images/k8s-staging-cpa/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

add note about the VPC-SC immunity requirement
  k8s.gcr.io/Vanity-Domain-Flip.md
Due: none

Promote etcd 3.4.7 staging images
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip, post-k8sio-cip

releng: Update Release Manager groups
  groups/groups.yaml
Due: pull-k8sio-groups-test

releng: Update access to Release Manager GCP projects
  groups/groups.yaml
Due: pull-k8sio-groups-test

releng: Grant new RT Lead Shadows view access to Releng projects
  groups/groups.yaml
Due: pull-k8sio-groups-test

add staging project for kind
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-image-staging-kind/OWNERS
  k8s.gcr.io/images/k8s-image-staging-kind/images.yaml
  k8s.gcr.io/manifests/k8s-image-staging-kind/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip, pull-k8sio-groups-test

New GCP audit - April 15, 2020
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/cors.txt
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/iam.json
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/logging.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/cors.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/iam.json
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/logging.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/cors.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/iam.json
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/logging.txt
  audit/projects/k8s-staging-kind/description.json
  audit/projects/k8s-staging-kind/iam.json
  audit/projects/k8s-staging-kind/services/enabled.txt
  audit/projects/kubernetes-public/iam.json
Due: none

add staging repo for bootkube
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-bootkube/OWNERS
  k8s.gcr.io/images/k8s-staging-bootkube/images.yaml
  k8s.gcr.io/images/k8s-staging-bootkube/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-cip, pull-k8sio-groups-test

audit: ran ensure-staging-storage.sh kind
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/cors.txt
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/iam.json
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/logging.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/cors.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/iam.json
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/logging.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/cors.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/iam.json
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/logging.txt
  audit/projects/k8s-staging-kind/description.json
  audit/projects/k8s-staging-kind/iam.json
  audit/projects/k8s-staging-kind/services/enabled.txt
Due: none

audit: stackdriver roles added to k8s-infra-cluster-admins
  audit/projects/kubernetes-public/iam.json
Due: none

Refactor prod storage for N buckets
  infra/gcp/ensure-prod-storage.sh
Due: none

Comment groups.yaml
  groups/groups.yaml
Due: pull-k8sio-groups-test

Add prod bucket for kind
  groups/groups.yaml
  infra/gcp/ensure-prod-storage.sh
Due: pull-k8sio-groups-test

Allow indented output, use it in prod-storage
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib_util.sh
Due: none

git-crypt: add gitattributes for slack-infra
  .gitattributes
Due: none

slack-infra: add slack-infra secrets
  slack-infra/slack-event-log/slack-event-log-config-secret.yaml
  slack-infra/slack-moderator/slack-moderator-config-secret.yaml
  slack-infra/slack-welcomer/slack-welcomer-config-secret.yaml
  slack-infra/slackin/recaptcha-secret.yaml
  slack-infra/slackin/slackin-token-secret.yaml
Due: none

slack-infra: add cluster resources
  slack-infra/slack-event-log/deployment.yaml
  slack-infra/slack-event-log/service.yaml
  slack-infra/slack-moderator/deployment.yaml
  slack-infra/slack-moderator/service.yaml
  slack-infra/slack-welcomer/deployment.yaml
  slack-infra/slack-welcomer/message.yaml
  slack-infra/slack-welcomer/service.yaml
  slack-infra/slackin/deployment.yaml
  slack-infra/slackin/service.yaml
Due: none

slack-infra: add readme
  slack-infra/README.md
Due: none
