Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Path conditions:
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-1-15: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-16: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-17: any of: \.go$|^rootfs/

Add e2e test for OCSP and new configmap setting
  docs/user-guide/nginx-configuration/configmap.md
  go.mod
  go.sum
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e-image/.gitignore
  test/e2e-image/Dockerfile
  test/e2e-image/Makefile
  test/e2e/e2e.go
  test/e2e/run.sh
  test/e2e/settings/ocsp/ca_csr.json
  test/e2e/settings/ocsp/db-config.json
  test/e2e/settings/ocsp/empty.db
  test/e2e/settings/ocsp/intermediate_ca_csr.json
  test/e2e/settings/ocsp/leaf_csr.json
  test/e2e/settings/ocsp/ocsp.go
  test/e2e/settings/ocsp/ocsp_csr.json
  vendor/golang.org/x/crypto/ocsp/ocsp.go
  vendor/modules.txt
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Remove TODO that were done
  internal/ingress/controller/template/template.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Fix dev-env script to use new hostPort setting
  build/dev-env.sh
Due: none

Deploy GitHub Pages
  sitemap.xml.gz
Due: none

Add new cfssl image and update e2e tests to use it
  images/README.md
  images/cfssl/Makefile
  images/cfssl/rootfs/Dockerfile
  images/e2e/Dockerfile
  test/e2e-image/Dockerfile
  test/e2e/run.sh
  test/e2e/settings/ocsp/ocsp.go
  test/e2e/settings/ocsp/template.db
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

eagerly fetch and cache OCSP response instead of waiting for the first requent
  rootfs/etc/nginx/lua/configuration.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Fix from-to-www link
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Deploy GitHub Pages
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

Deploy GitHub Pages
  sitemap.xml
  sitemap.xml.gz
Due: none

use latest lua-nginx-module and lua-resty-core
  images/nginx/Makefile
  images/nginx/rootfs/build.sh
Due: none

Add port for plain HTTP to HTTPS redirection
  deploy/static/provider/aws/deploy-tls-termination.yaml
  hack/generate-deploy-scripts.sh
Due: none

Update deployment documentation
  docs/deploy/index.md
  docs/deploy/validating-webhook.md
  mkdocs.yml
Due: none

Cleanup deploy docs and remove old yaml manifests
  deploy/aws/l4/service-l4.yaml
  deploy/aws/l7/service-l7.yaml
  deploy/aws/nlb/service-nlb.yaml
  deploy/baremetal/service-nodeport.yaml
  deploy/static/configmap.yaml
  deploy/static/mandatory.yaml
  deploy/static/namespace.yaml
  deploy/static/provider/aws/patch-configmap-l4.yaml
  deploy/static/provider/aws/patch-configmap-l7.yaml
  deploy/static/provider/aws/service-l4.yaml
  deploy/static/provider/aws/service-l7.yaml
  deploy/static/provider/aws/service-nlb.yaml
  deploy/static/provider/baremetal/service-nodeport.yaml
  deploy/static/provider/cloud-generic.yaml
  deploy/static/rbac.yaml
  deploy/static/with-rbac.yaml
  deploy/validating-webhook.yaml.tpl
  deploy/with-validating-webhook.yaml.tpl
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Update images README.md
  images/README.md
Due: none

ugrade stream-lua-nginx-module
  images/nginx/rootfs/build.sh
Due: none

staple only when OCSP response status is "good"
  rootfs/etc/nginx/lua/certificate.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

update the helm v3 install way
  docs/deploy/index.md
Due: none
