Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Path conditions:
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-1-15: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-16: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-17: any of: \.go$|^rootfs/

update the helm v3 install way
  docs/deploy/index.md
Due: none

Update go dependencies
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  vendor/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  vendor/k8s.io/client-go/rest/request.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/modules.txt
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Add manifest for kind documentation
  deploy/static/provider/kind/deploy.yaml
  hack/generate-deploy-scripts.sh
Due: none

Deploy GitHub Pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy GitHub Pages
  sitemap.xml.gz
Due: none

Removed wrong code
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Pin mimalloc version and update openssl
  images/nginx/Makefile
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Due: none

Update nginx image to fix openssl CVE
  Makefile
  build/run-in-docker.sh
  images/e2e-prow/Makefile
  images/e2e/Dockerfile
  test/e2e-image/Dockerfile
Due: none

lua sync non-external backends only when necessary
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/configuration.lua
  rootfs/etc/nginx/lua/tcp_udp_balancer.lua
  rootfs/etc/nginx/lua/tcp_udp_configuration.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Add support for IngressClass and ingress.class annotation
  charts/ingress-nginx/templates/clusterrole.yaml
  charts/ingress-nginx/templates/controller-role.yaml
  cmd/nginx/main.go
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  internal/ingress/annotations/class/main.go
  internal/ingress/annotations/class/main_test.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/store.go
  internal/k8s/main.go
  test/e2e/framework/exec.go
  test/e2e/framework/framework.go
  test/e2e/framework/k8s.go
  test/e2e/settings/ingress_class.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Improve build time of httpbin e2e test image
  images/httpbin/rootfs/Dockerfile
Due: none

Remove lua-resty-waf docs
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

update notes.txt example with networking.k8s.io
  charts/ingress-nginx/templates/NOTES.txt
Due: pull-ingress-nginx-chart-lint

Add support for PathTypeExact
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/template/template.go
  internal/ingress/types.go
  test/e2e/e2e.go
  test/e2e/framework/util.go
  test/e2e/ingress/pathtype_exact.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Update krew plugin configuration
  cmd/plugin/ingress-nginx.yaml.tmpl
  cmd/plugin/util/util.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17

Use github actions to create releases and krew plugin assets
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  Makefile
Due: none
